{% extends 'base.html' %}

{% block content %}
    <h2>Change password</h2>

    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
                <p>{{ err }}</p>
            {% endfor %}
        {% endif %}
        <div>
            <label for="{{ form.old_password.id_for_label }}">Old password:</label>
            <input type="password" name="old_password" autocomplete="current-password">
            {% if form.old_password.errors %}
                {% for err in form.old_password.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div>
            <label for="{{ form.new_password1.id_for_label }}">New password:</label>
            <input type="password" name="new_password1" autocomplete="current-password">
            {% if form.new_password1.errors %}
                {% for err in form.new_password1.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div>
            <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
            <input type="password" name="new_password2" autocomplete="current-password">
            {% if form.new_password2.errors %}
                {% for err in form.new_password2.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <input type="submit" value="change">
    </form>
    <br>

    <a href="{% url 'dashboard' %}">Back to dashboard</a>
{% endblock %}