{% extends 'base.html' %}

{% block content %}
    <h2>Confirm password reset</h2>

    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
                <p>{{ err }}</p>
            {% endfor %}
        {% endif %}
        <div>
            <label for="{{ form.new_password1.id_for_label }}">New password:</label>
            <input type="password" name="new_password1" id="new_password1">
            {% if form.new_password1.errors %}
                {% for err in form.new_password1.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div>
            <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
            <input type="password" name="new_password2" id="new_password2">
            {% if form.new_password2.errors %}
                {% for err in form.new_password2.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}